[submodule "dashy"]
	path = dashy
	url = https://github.com/Michaelpalacce/docker-dashy.git
[submodule "wallabag"]
	path = wallabag
	url = https://github.com/Michaelpalacce/docker-wallabag.git
[submodule "diagrams"]
	path = diagrams
	url = https://github.com/Michaelpalacce/docker-diagrams.git
[submodule "tooljet"]
	path = tooljet
	url = https://github.com/Michaelpalacce/tooljet.git
[submodule "shiori"]
	path = shiori
	url = https://github.com/Michaelpalacce/docker-shiori.git
[submodule "dailynotes"]
	path = dailynotes
	url = https://github.com/Michaelpalacce/docker-dailynotes.git
[submodule "docker-vaultwarden-backup"]
	path = docker-vaultwarden-backup
	url = https://github.com/Michaelpalacce/docker-vaultwarden-backup.git
[submodule "docker-kubectl"]
	path = kubectl
	url = https://github.com/Michaelpalacce/docker-kubectl.git
